<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.polsl.pum2.shoppingapp">

    <application
        android:name="pl.polsl.pum2.shoppingapp.ShoppingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.ShoppingListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.polsl.pum2.shoppingapp.gui.MainActivity" />
        </activity>
        <activity
            android:name=".gui.ShoppingListEditorActivity"
            android:label="@string/title_activity_create_or_edit_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged|adjustResize"></activity>
        <activity
            android:name=".gui.MarketMapEditorActivity"
            android:label="@string/title_activity_create_or_edit_map"
            android:windowSoftInputMode="stateUnchanged|adjustResize"></activity>
    </application>

</manifest>
